<%= render "shared/header", text: "Your week menu" %>

<div class="container" data-controller="suggestion" data-suggestion-index="0">
  <div class="hide show" data-suggestion-target="screen">
    <div class="wrapper-margin-bottom-small">
      <div class="swipe-annotation">
        <h4>Swipe <i class="fas fa-arrow-left"></i> or <i class="fas fa-arrow-up"></i> to change your daily menu</h4>
      </div>

      <% 5.times do |index| %>
        <% date = Date.today + index %>
        <h2 id='suggestion-date'><%= date.strftime("%A %d, %B")%></h2>
        <div class="swipe-box">
          <% @suggestions[index].each do |suggestion| %>
          <div class="swipe-card" data-recipe-id=" <%= suggestion.id %> " data-recipe-date=" <%= date %> ">
            <img src="<%= suggestion.image %>" alt="">
            <%= link_to recipe_path(suggestion) do %>
              <h3> <%= suggestion.name.truncate(25) %> </h3>
              <div class="suggestion-information">
                <p><i class="fas fa-fire-alt text-primary"></i> <%= suggestion.calories.round %> calories  </p>
                <p><i class="far fa-clock text-primary"></i> <%= suggestion.prep_time.to_i %> minutes </p>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="loading-screen hide" data-suggestion-target="screen">
    <h3 class="loading-screen-typed" id="loading-title"></h3>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class = "btn-background-white" data-action="click->suggestion#next" id="button-save-to-hide">
    <%= render  "shared/large_btn", text: "Valide my menu", identifier: "save-btn-menu", remote: true %>
  </div>
</div>


