<div class="menu-card" data-recipe-id= "<%=recipe.id%>">
    <img src= "<%=recipe.image%>" class="menu-card-img">
    <div class="menu-card-content">
        <h6 class="menu-card-content-title"><%= recipe.name.truncate_words(7) %></h6>
        <div class="menu-card-content-score"><i class="fas fa-star"></i><%= (((recipe.score/100) / 2)*10).round %>/5 </div>
        <p><span><%= recipe.calories.round %>Kcal</span> || <span><%= recipe.prep_time.round %> min</span></p>
        
        <div class="menu-card-content-arrow">
            <%= link_to recipe_path(recipe) do %>
                <i class="fas fa-chevron-right"></i>
            <% end %>
        </div>
    </div>
</div>